<div class="container">

  <div class="card">

    <h1>{{title}}</h1>
    <div *ngIf="isDataAvailable">
      <div class="form-currency" #formExchange (window:resize)="windowResize()">
        <label>Amount: </label>
        <div>
          <div class="input-amount input-field">
            <input required [(ngModel)]="amount_value" lang="en-US" type="number" name="amount" #amount_input
              placeholder="Amount" step="0.01" (change)="changeAmountValue()">
          </div>
        </div>

        <label>From: </label>
        <app-currency-drop (selectedrateEvent)="selectFrom($event)" [rates]="rates"
          [selectorId]="_from.name"></app-currency-drop>


        <label>To: </label>
        <app-currency-drop (selectedrateEvent)="selectTo($event)" [rates]="rates"
          [selectorId]="to.name"></app-currency-drop>

      </div>
    </div>

    <div class="result-currency" *ngIf="isResult">
      <div class="result-from">
        {{resultFrom}}
      </div>

      <div class="result-to">
        {{resultTo}}
      </div>
      <div class="result-info">
        {{resultInfo}}
      </div>
    </div>


    <div class="lds-ellipsis" *ngIf="!isDataAvailable && !failedToLoad">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>


  </div>

  <div class="lastUpdate" *ngIf="isResult">
    Last updated: {{lastUpdate}}
  </div>
</div>